$primary-25: lch(10 30 300);
$primary-25: lch(25 80 300);
$primary-50: lch(50 120 300);
$primary-60: lch(60 50 300);
$primary-75: lch(75 20 300);

//41, 15%, 5%
$neutral-5: lch(5 5 300);
$neutral-10: lch(10 5 300);
$neutral-20: lch(20 5 300);
$neutral-25: lch(25 7.5 300);
$neutral-35: lch(35 7.5 300);
$neutral-50: lch(50 7.5 300);
$neutral-75: lch(75 7.5 300);
$neutral-90: lch(90 5 300);
$neutral-95: lch(95 5 300);

$red-15: lch(15 75 30);
$red-25: lch(25 75 30);
$red-40: lch(40 75 30);
$red-50: lch(50 50 30);
$red-65: lch(65 40 30);
$red-75: lch(75 30 30);

$green-25: lch(25 90 135);
$green-50: lch(50 80 135);
$green-75: lch(75 75 135);
$green-90: lch(90 50 135);
