*:not(script, style, head, svg, svg *, datalist, dialog),
:after,
:before {
  all: unset;
  box-sizing: border-box;
}

html,
body {
  display: block;
  width: 100%;
}

html {
  height: 100%;
  min-height: 100%;
  overflow: auto;
  overscroll-behavior: none;
}

body {
  -webkit-text-size-adjust: 100%;
  min-height: 100%;
  overflow: hidden;
  font-family: var(--main-font-family);

  a[href],
  button:not(:disabled) {
    cursor: pointer;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  img,
  div,
  section,
  article,
  header,
  main,
  footer,
  nav {
    display: block;
  }

  pre {
    font-family: monospace;
    white-space: pre;
  }
}

img {
  overflow: clip;
}
