// Spacing
$spacing-4xs: 0.125rem;
$spacing-3xs: 0.25rem;
$spacing-2xs: 0.375rem;
$spacing-xs: 0.5rem;
$spacing-s: 0.75rem;
$spacing-m: 1rem;
$spacing-l: 1.25rem;
$spacing-xl: 1.5rem;
$spacing-2xl: 2rem;

// Bleed
$bleed-4xs: -$spacing-4xs;
$bleed-3xs: -$spacing-3xs;
$bleed-2xs: -$spacing-2xs;
$bleed-xs: -$spacing-xs;
$bleed-s: -$spacing-s;
$bleed-m: -$spacing-m;
$bleed-l: -$spacing-l;
$bleed-xl: -$spacing-xl;
$bleed-2xl: -$spacing-2xl;
