@import './palette';
@import './mixins';

:root,
::backdrop {
  // Font colors

  --font-color-lightest: #{$neutral-95};
  --font-color-light: #{$neutral-90};
  --font-color-faded: #{$neutral-75};
  --font-color-dark: #{$neutral-50};

  // Generic boxes
  --background-color-1: #{transparentize($neutral-35, 45%)};
  --border-color-1: #{transparentize($neutral-95, 50%)};

  --background-color-2: #{transparentize($neutral-25, 60%)};
  --border-color-2: #{transparentize($neutral-95, 45%)};

  --background-color-3: #{transparentize($neutral-10, 60%)};
  --border-color-3: #{transparentize($neutral-95, 40%)};

  // Controls
  --control-inset-shadow-color: #{transparentize($neutral-90, 75%)};

  --control-default-background: #{transparentize($neutral-75, 60%)};
  --control-default-background-hover: #{transparentize($neutral-75, 75%)};
  --control-default-shadow-color: #{transparentize($neutral-75, 75%)};

  --control-transparent-background-hover: #{transparentize($neutral-75, 15%)};

  --control-primary-background: #{transparentize($primary-50, 60%)};
  --control-primary-background-hover: #{transparentize($primary-50, 75%)};
  --control-primary-shadow-color: #{transparentize($primary-50, 75%)};

  --control-success-background: #{transparentize($green-75, 65%)};
  --control-success-background-hover: #{transparentize($green-75, 75%)};
  --control-success-shadow-color: #{transparentize($green-75, 75%)};

  --control-error-background: #{transparentize($red-40, 60%)};
  --control-error-background-hover: #{transparentize($red-40, 75%)};
  --control-error-shadow-color: #{transparentize($red-40, 75%)};

  // Inputs
  --input-default-shadow-color: #{transparentize($neutral-90, 25%)};
  --input-default-shadow-inset-color: #{transparentize($neutral-5, 85%)};
  --input-default-background: #{transparentize($neutral-10, 65%)};
  --input-default-background-focus: #{transparentize($neutral-10, 75%)};

  --input-error-border-color: #{transparentize($red-25, 75%)};
  --input-error-background: #{transparentize($red-15, 65%)};
  --input-error-background-focus: #{transparentize($red-15, 75%)};

  // Fonts
  --main-font-family: 'Source Sans Pro', sans-serif;

  --font-weight-thin: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 600;

  --font-size-xs: 0.65rem;
  --font-size-s: 0.75rem;
  --font-size-m: 1rem;
  --font-size-l: 1.15rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.75rem;
  --font-size-4xl: 2rem;
  --font-size-5xl: 2.25rem;

  // Radius
  --border-radius-xs: 0.25rem;
  --border-radius-s: 0.5rem;
  --border-radius-m: 1rem;
  --border-radius-l: 1.5rem;
  --border-radius-xl: 2rem;
  --border-radius-2xl: 32px;
  --border-radius-pill: 999999px;

  // Blur
  --blur-s: 4px;
  --blur-m: 12px;
  --blur-l: 64px;
}
